@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gold: #c19a5d;
  --color-background: #fdfcfb;
  --color-text: #4a4a4a;
}

body {
  color: var(--color-text);
  background: var(--color-background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
